<div class="row">
  <div class="col-md-12">
    <app-select (onChangedValue)="onChangedSymbol($event)" (onChangedCompare)="onChangedCompare($event)"></app-select>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <app-linechart *ngIf="chartData" [data]="chartData" [dataCompare]="chartDataCompare" (onClickedDate)="onClickedDate($event)" (onBrushed)="onBrushed($event)"></app-linechart>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-6">
          <input type="date" class="form-control" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangedStartDate($event)">
        </div>
        <div class="col-md-6">
          <input type="date" class="form-control" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChangedEndDate($event)">
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <app-summary *ngIf="companyInfo" [data]="companyInfo" [stockInfo]="stockInfo"></app-summary>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-datatable *ngIf="chartData" [data]="datatableData"></app-datatable>
  </div>
</div>
